<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bookkeepingapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".AddInvoiceActivity" />
        <activity android:name=".AddClientActivity" />
        <activity android:name=".ViewClientActivity" />
        <activity android:name=".EditClientActivity" />
        <activity android:name=".AddServiceActivity" />
        <activity android:name=".ViewServiceActivity" />
        <activity android:name=".ViewInvoiceActivity" />
        <activity android:name=".EditInvoiceActivity" />
        <activity android:name=".EditServiceActivity"></activity>
    </application>

</manifest>